@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: "Gugi", sans-serif;
}

header {
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center top;
}
#sns-links {
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(../images/sns-bg.jpg);
}